:root {
  --main-font-family:DM Sans, sans-serif;
  --secondary-font-family:Titan One, cursive;
  --primary-text-color: rgba(0, 0, 0, 1);
  --secondary-text-color: rgba(144, 126, 130, 1);
  --primary-title-text-color: rgba(212, 20, 67, 1);
  --secondary-title-text-color:   rgba(255, 165, 186, 1);
  --primary-background-color:#FFFFFF;
  --secondary-background-color:rgba(255, 245, 246, 1);
}

.body {
  font-family: var(--main-font-family);
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font: var(--main-font-family);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 1279px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section__title {
  display: block;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
}

.section__name {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

.container__mobile {
  padding-right: 80px;
}

.header__container {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .header__container {
    padding: 35px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.btn {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding: 12px;
  background-color: #FFFFFF;
  border-radius: 22px;
  border: transparent;
}

@media screen and (max-width: 767px) {
  .btn {
    width: 161px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .btn {
    width: 186px;
  }
}

@media screen and (min-width: 1280px) {
  .btn {
    width: 159px;
  }
}

.btn__text {
  display: block;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #D41443;
}

.btn__text-inverse {
  display: block;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #FFFFFF;
}

.btn__icon {
  display: block;
  fill: #D41443;
  margin-left: 15px;
}

.btn__icon--inverse {
  display: block;
  fill: #FFFFFF;
  margin-left: 15px;
}

.btn--mobile {
  background: #FFFFFF;
  border-radius: 22px;
  border: transparent;
  height: 44px;
  padding: 12px 40px;
  margin-bottom: 18px;
}

@media screen and (max-width: 767px) {
  .btn--mobile {
    width: 209px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .btn--mobile {
    width: 186px;
  }
}

.contacts__buttons__list {
  display: flex;
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .contacts__buttons__list {
    flex-direction: column;
    margin-top: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts__buttons__list {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__buttons__list {
    margin-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .btn__list {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .btn__list {
    margin-right: 15px;
  }
}

.contacts__btn {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 44px;
  padding: 14px;
  background-color: #FFFFFF;
  color: #D41342;
  border-radius: 22px;
  border: transparent;
}

@media screen and (max-width: 767px) {
  .contacts__btn {
    width: 161px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts__btn {
    width: 174px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__btn {
    width: 198px;
  }
}

.contacts__btn--inverse {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 44px;
  padding: 14px;
  background-color: #D41342;
  color: #FFFFFF;
  border-radius: 22px;
  border: transparent;
}

@media screen and (max-width: 767px) {
  .contacts__btn--inverse {
    width: 161px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts__btn--inverse {
    width: 174px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__btn--inverse {
    width: 198px;
  }
}

.header {
  display: block;
  padding-top: 5px;
  padding-bottom: 25px;
  background-color: #ffb8ca;
}

.nav__list {
  display: flex;
  text-align: center;
}

@media screen and (max-width: 1279px) {
  .nav__list {
    display: none;
  }
}

.nav__item:not(:last-child) {
  margin-right: 35px;
}

.nav__link {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.15;
  color: #FFFFFF;
}

.nav__link:hover,
.nav__link:focus {
  color: #D41443;
}

.menu__btn {
  position: fixed;
  right: 20px;
  width: 20px;
  height: 20px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 8;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .menu__btn .menu__btn {
    position: absolute;
  }
}

@media screen and (min-width: 1280px) {
  .menu__btn {
    display: none;
  }
}

.menu__btn:hover,
.menu__btn:focus .menu__icon {
  fill: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .menu__btn.is-active {
    top: -20px;
    right: 32px;
  }
}

.menu__icon--close {
  opacity: 0;
}

.menu__icon--menu {
  opacity: 1;
  fill: #d41443;
}

.menu__btn.is-active .menu__icon--menu {
  opacity: 0;
}

.menu__btn.is-active .menu__icon--close {
  opacity: 1;
  fill: #d41443;
}

.mobile {
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #e17992;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 250 ms linear;
  z-index: 7;
}

@media screen and (max-width: 767px) {
  .mobile {
    max-width: 250px;
    height: 100vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .mobile {
    min-width: 254px;
    height: 100vh;
  }
}

@media screen and (min-width: 1280px) {
  .mobile {
    display: none;
  }
}

.mobile.is-open {
  opacity: 1;
  transform: translateX(0);
}

.mobile__item:not(:last-child) {
  display: block;
  margin-bottom: 23px;
}

.mobile__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: white;
}

.mobile__link:hover,
.mobile__link:focus {
  color: #d41443;
}

.products {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .products {
    display: flex;
    margin-top: -16px;
    margin-left: -16px;
  }
}

@media screen and (min-width: 1279px) {
  .products {
    display: flex;
    margin-top: -32px;
    margin-left: -32px;
  }
}

.ptoducts__item {
  display: block;
  position: relative;
  height: 629px;
  border-radius: 24px;
  margin-top: 140px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .ptoducts__item {
    flex-basis: calc(100%/3 - 16px);
    max-width: 224px;
    height: 611px;
    margin-left: 16px;
    margin-top: 154px;
  }
}

@media screen and (min-width: 1279px) {
  .ptoducts__item {
    flex-basis: calc(100%/3 - 32px);
    max-width: 394px;
    height: 796px;
    margin-top: 229px;
    margin-left: 32px;
  }
}

.products__thumb {
  display: block;
  text-align: center;
}

.ptoducts__item:nth-child(1) {
  background-color: #FFB8CA;
}

.ptoducts__item:nth-child(1)::before {
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 280px;
  height: 280px;
  background-image: url(../../images/pic1_sm.png);
}

.ptoducts__item:nth-child(2) {
  background-color: #F0D1A5;
}

.ptoducts__item:nth-child(2)::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 280px;
  height: 280px;
  background-image: url(../../images/pic2_sm.png);
}

.ptoducts__item:nth-child(3) {
  background-color: #C2E297;
}

.ptoducts__item:nth-child(3)::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 280px;
  height: 280px;
  background-image: url(../../images/pic3_sm.png);
}

.products__name {
  display: inline-block;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 160px;
  margin-bottom: 32px;
}

.products__name::after {
  content: "";
  display: block;
  background-image: url(../../icons/dots_sm.png);
  width: 26px;
  height: 6px;
  margin: 32px auto;
}

.products__desc {
  margin-left: 40px;
  margin-right: 40px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.products__btn {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../../icons/arrow-right.svg);
  background-position: center;
  border: transparent;
  margin-top: 32px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}

.section__about {
  background-color: #FFF5F6;
}

@media screen and (min-width: 1280px) {
  .section__about {
    background-image: url(../../images/sectionbg_lg.png);
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) {
  .about__blocks {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__blocks {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .about__blocks {
    margin-top: 79px;
  }
}

@media screen and (max-width: 767px) {
  .about__wrapper {
    display: block;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__wrapper {
    display: block;
    width: 336px;
    height: 335px;
    margin-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .about__wrapper {
    width: 501px;
    height: 501px;
    margin-right: 139px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__block {
    width: 336px;
    height: 335px;
  }
}

@media screen and (min-width: 1280px) {
  .about__block {
    width: 463px;
    height: 501px;
    padding-top: 72px;
    padding-bottom: 99px;
  }
}

@media screen and (max-width: 767px) {
  .about__info {
    background-image: url(../../images/sectionbg_sm.png);
    background-repeat: no-repeat;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) and (min-width: 1280px) {
  .about__info {
    margin-bottom: 40px;
  }
}

.about__txt {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #000000;
  margin-bottom: 40px;
  text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__txt {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .about__txt {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.about__desc {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: #907E82;
  text-align: left;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__desc {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .about__desc {
    font-size: 16px;
  }
}

.about__btn {
  display: block;
  display: flex;
  width: 176px;
  height: 44px;
  background-color: #ffffff;
  color: #d41443;
  border: transparent;
  border-radius: 22px;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  padding-left: 37px;
  padding-right: 37px;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .about__btn {
    margin-top: 40px;
  }
}

.section__contacts {
  background-image: linear-gradient(180deg, #fff 23%, #FFF5F6);
}

@media screen and (min-width: 768px) {
  .contacts__list {
    display: flex;
    margin-top: -32px;
    margin-left: -32px;
  }
}

.contacts__item {
  display: block;
  width: 280px;
  height: 412px;
  padding: 40px 32px;
  background-color: #ffffff;
  border-radius: 24px;
  border: 1px solid #e1e1e1;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .contacts__item {
    flex-basis: calc(100%/3 - 32px);
    height: 528px;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__item {
    flex-basis: calc(100%/3 - 32px);
    height: 538px;
    padding: 40px;
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.contacts__type--cafe {
  display: block;
  width: 80px;
  height: 16px;
  background-color: #F0D1A5;
  border-radius: 4px;
  font-size: 12px;
  color: #ffffff;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 20px;
}

.contacts__type {
  display: block;
  width: 80px;
  height: 16px;
  border-radius: 4px;
  font-size: 12px;
  color: #ffffff;
  font-family: DM Sans;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  background-color: #c2e297;
  margin-bottom: 20px;
}

.contacts__text {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #000000;
  margin-bottom: 8px;
}

.contact__desc {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.150;
  color: #907E82;
}

.contacts__time {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.86;
  color: #FFA5BA;
}

.contacts__info {
  font-family: DM Sans;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907E82;
}

.contacts__item__link:not(:last-child) {
  display: block;
  border-bottom: 1px solid #e1e1e1;
}

.contacts__item__link:not(:first-child) {
  padding-top: 24px;
}

.contacts__item__link:not(:last-child) {
  padding-bottom: 24px;
}

.contacts__schedule__link:not(:last-child) {
  margin-bottom: 8px;
}

.social-net {
  display: flex;
  justify-content: center;
}

.social-net__link {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #FFA5BA;
}

.social-net__icon {
  fill: white;
}
/*# sourceMappingURL=main.css.map */