:root {
  --main-font-family:DM Sans, sans-serif;
  --secondary-font-family:Titan One, cursive;
  --primary-text-color: rgba(0, 0, 0, 1);
  --secondary-text-color: rgba(144, 126, 130, 1);
  --primary-title-text-color: rgba(212, 20, 67, 1);
  --secondary-title-text-color:   rgba(255, 165, 186, 1);
  --primary-background-color:#FFFFFF;
  --secondary-background-color:rgba(255, 245, 246, 1);
}

.body {
  font-family: var(--main-font-family);
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font: var(--main-font-family);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 77px;
  padding-bottom: 40px;
}

.section__title {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #FFA5BA;
}

.section__name {
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.header__container {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: block;
  padding-top: 5px;
  padding-bottom: 25px;
  background-color: #ffb8ca;
}

.nav__list {
  display: flex;
  text-align: center;
  margin-left: 175px;
}

@media screen and (max-width: 1279px) {
  .nav__list {
    display: none;
  }
}

.nav__item:not(:last-child) {
  margin-right: 35px;
}

.nav__link {
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.menu__btn {
  position: fixed;
  right: 20px;
  width: 20px;
  height: 20px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 8;
  cursor: pointer;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .menu__btn {
    display: none;
  }
}

.menu__btn:hover,
.menu__btn:focus .menu__icon {
  fill: #FFFFFF;
}

.menu__icon--close {
  opacity: 0;
}

.menu__icon--menu {
  opacity: 1;
  fill: #d41443;
}

.menu__btn.is-active .menu__icon--menu {
  opacity: 0;
}

.menu__btn.is-active .menu__icon--close {
  opacity: 1;
  fill: #d41443;
}

.mobile {
  position: fixed;
  top: 0;
  right: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #e17992;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 250 ms linear;
  z-index: 7;
}

@media screen and (max-width: 767px) {
  .mobile {
    max-width: 250px;
    height: 100%vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .mobile {
    width: 254px;
    height: 1020px;
  }
}

@media screen and (min-width: 1280px) {
  .mobile {
    display: none;
  }
}

.mobile.is-open {
  opacity: 1;
  transform: translateX(0);
}

.mobile__item:not(:last-child) {
  display: block;
  margin-bottom: 23px;
}

.mobile__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  color: white;
}

.mobile__link:hover,
.mobile__link:focus {
  color: #d41443;
}

.btn {
  background: #FFFFFF;
  border-radius: 22px;
  border: transparent;
  height: 44px;
  margin-bottom: 18px;
  padding: 12px 40px;
}

@media screen and (max-width: 767px) {
  .btn {
    width: 209px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .btn {
    width: 186px;
  }
}

.btn__text {
  display: block;
  font-family: DM Sans;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: #D41443;
}

.btn__icon {
  fill: #D41443;
  margin-left: 15px;
}

.products {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .products {
    display: flex;
    margin-top: -16px;
    margin-left: -16px;
  }
}

@media screen and (min-width: 1279px) {
  .products {
    display: flex;
    margin-top: -32px;
    margin-left: -32px;
  }
}

.ptoducts__item {
  display: block;
  position: relative;
  height: 629px;
  border-radius: 24px;
  margin-top: 140px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .ptoducts__item {
    flex-basis: calc(100%/3 - 16px);
    max-width: 224px;
    height: 611px;
    margin-left: 16px;
    margin-top: 154px;
  }
}

@media screen and (min-width: 1279px) {
  .ptoducts__item {
    flex-basis: calc(100%/3 - 32px);
    max-width: 394px;
    height: 796px;
    margin-top: 229px;
    margin-left: 32px;
  }
}

.products__thumb {
  display: block;
  text-align: center;
}

.ptoducts__item:nth-child(1) {
  background-color: #FFB8CA;
}

.ptoducts__item:nth-child(1)::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 280px;
  height: 280px;
  background-image: url(../../images/pic1_sm.png);
}

.ptoducts__item:nth-child(2) {
  background-color: #F0D1A5;
}

.ptoducts__item:nth-child(2)::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 280px;
  height: 280px;
  background-image: url(../../images/pic2_sm.png);
}

.ptoducts__item:nth-child(3) {
  background-color: #C2E297;
}

.ptoducts__item:nth-child(3)::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 280px;
  height: 280px;
  background-image: url(../../images/pic3_sm.png);
}

.products__name {
  display: inline-block;
  font-family: Titan One;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 160px;
  margin-bottom: 32px;
}

.products__name::after {
  content: "";
  display: block;
  background-image: url(../../icons/dots_sm.png);
  width: 26px;
  height: 6px;
  margin: 32px auto;
}

.products__desc {
  margin-left: 40px;
  margin-right: 40px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.products__btn {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url(../../icons/arrow-right.svg);
  background-position: center;
  border: transparent;
  margin-top: 32px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
}
/*# sourceMappingURL=main.css.map */