.section__about{
    background-color: #FFF5F6;

    @media screen and(max-width:767px){
        padding-top: 40px;
    
        background-image:url(../../images/sectionbg_sm.png);
        background-repeat:no-repeat;
        background-size:contain;
        background-position-x:-5%;
        background-position-y: 85%;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (-moz-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {background-image:url(../../images/sectionbg_sm@2x.png);
    }
       
    }
    @media screen and(min-width:768px) and(max-width:1279px) {
        padding-top: 20px;
        
      }

    @media screen and(min-width:1280px){
        padding-top: 60px;

        background-image:url(../../images/sectionbg_lg.png);
        background-repeat:no-repeat;
        background-size:contain;
        background-position-x:-5%;
        background-position-y: 85%;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (-moz-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {background-image:url(../../images/sectionbg_lg@2x.png);
    }
    }

}

.about__blocks{
    @media screen and(min-width:768px) and(max-width:1279px){
        display: flex;
        align-items:flex-start;
        margin-top: 40px;
    }

    @media screen and(min-width:1280px) {
        display: flex;
        
    }
}

.about__picture{
    @media screen and(max-width:767px) {
        display: block;
        align-items: center;
        margin-top: 32px;
        margin-bottom: 40px;
        
    }
    @media screen and(min-width:768px) and(max-width:1279px){
        display: block;
        width: 336px;
        height: 335px;
        margin-right: 32px;

    }
    @media screen and(min-width:1280px) {
        width: 501px;
        height: 501px;
        margin-right: 139px;
        margin-bottom: 39px;
       
    }
}
.about__block{
    
    @media screen and(min-width:768px) and(max-width:1279px){
        width: 336px;
        height: 335px;
    }
   
    @media screen and(min-width:1280px) {
        width: 463px;
        height: 501px;
       
    }
}

.about__info{
    display: inline-block;

    @media screen and (max-width:767px) {
        margin-bottom: 20px;
        padding-right: 80px;
    }

    @media screen and(min-width:1280px){margin-bottom: 40px;
    margin-top: 72px;
}
    }

.about__txt{
    display: block;
    font-family:DM Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    color: #000000;

    margin-bottom: 26px;
    text-align: left;

    @media screen and(min-width:768px) and(max-width:1279px){
        font-size: 14px;
    }
  
    @media screen and(min-width:1280px){
        font-size: 16px;
        margin-bottom: 32px;
    }
}

.about__desc{
    font-family:DM Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    color:#907E82;
    text-align: left;

    @media screen and(min-width:768px) and(max-width:1279px){
        font-size: 14px;
    }
  
    @media screen and(min-width:1280px){
        font-size: 16px;
    }
}

.about__desc--one{
    display: block;
    margin-bottom: 15px;
}
.about__btn{
    display: block;
    display: flex;
    width: 176px;
    height: 44px;
    background-color: #ffffff;
    color: rgba(212, 20, 67, 1);
    border: transparent;
    border-radius: 22px;

    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    
    align-items: center;
    text-align: center;
    padding-left: 37px;
    padding-right: 37px;
}

.about__btn::after{
    content: "";
    width: 8px;
    height: 10px;
    background-image: url(../../icons/btnarrow3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 15px;
}

.backdrop{
    position: fixed;
    top:0;
    right: 0;   
    width: 100%;
    height: 100%;
    background-color: rgba(255, 165, 186, 1);

}

.backdrop .is-hidden{
    opacity:0;
    pointer-events: none;

}
.modal{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: #FFF5F6;
    padding: 30px 50px;

     @media screen and(max-width:1279px){
    
        background-image:url(../../images/sectionbg_sm.png);
        background-repeat:no-repeat;
        background-size:contain;
        background-position-y: 95%;
        
        @media screen and (min-device-pixel-ratio: 2),
        screen and (-moz-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {background-image:url(../../images/sectionbg_sm@2x.png);
    }
       
    }

    @media screen and(min-width:1280px){
        background-image:url(../../images/sectionbg_lg.png);
        background-repeat:no-repeat;
        background-size:contain;
        background-position-y: 95%;

        @media screen and (min-device-pixel-ratio: 2),
        screen and (-moz-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {background-image:url(../../images/sectionbg_lg@2x.png);}
    }
    }

.form__field{
    margin: 30px 30px 40px 30px;
   
}
.form__input{
    border:2px dotted pink;

}
.form__input:focus{
    border:1px solid pink;
}
.form__field:focus{
    color:rgba(212, 20, 67, 1);
}
.form__btn{
    display: block;
    display: flex;
    max-width: 176px;
    height: 44px;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;

    background-color: #ffffff;
    color: rgba(212, 20, 67, 1);
    border: 1px solid pink;
    border-radius: 22px;

    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    
    align-items: center;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px
}

.form__btn::before{
    content: "";
    width: 8px;
    height: 10px;
    background-image: url(../../icons/btnarrow3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(180deg);
    margin-right: 15px;

}