.btn{
    display: block;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 44px;
    padding: 12px ;

    background-color: #FFFFFF;
    border-radius: 22px;
    border: transparent;

    @media screen and(max-width:767px){
        width: 161px;
    }

    @media screen and(min-width:768px) and (max-width:1279px){
        width: 186px;
        
    }

    @media screen  and(min-width:1280px){
        width: 159px;
    }
}


.btn__text{
    display: block;
    font-family:DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: #D41443;
}

.btn__text-inverse{
    display: block;
    font-family:DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: #FFFFFF;
}

.btn__icon{
    display: block;
    fill:#D41443;
    margin-left: 15px;
}

.btn__icon--inverse{
    display: block;
    fill:#FFFFFF;
    margin-left: 15px;
  
}

.btn--mobile{
    background: #FFFFFF;
    border-radius: 22px;
    border:transparent;
   
    height: 44px;

    padding: 12px 40px;
    margin-bottom: 18px;

    @media screen and (max-width:767px){
        width: 209px;
        
    }

    @media screen and (min-width:768px) and (max-width:1279px){
        width: 186px;
        
    }
}
.contacts__buttons__list{
    display: flex;
    text-align: center;
    justify-content: center;

    @media screen and(max-width:767px) {
        flex-direction: column;
        margin-top: 32px;
    }
    
    @media screen and(min-width:768px) and(max-width:1279px) {
        margin-top: 40px;
        
    }
    
    @media screen and(min-width:1280px)  {
        margin-top: 60px;
        
    }

}
.btn__list{
    @media screen and(max-width:767px){
        margin-bottom: 10px;
    }
    
    @media screen and(min-width:768px){
        margin-right: 15px;
    }
}

.contacts__btn{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 44px;
    padding: 14px;

    background-color:#FFFFFF;
    color: #D41342;
    border-radius: 22px;
    border: transparent;

    @media screen and(max-width:767px){
        width: 161px;
    }

    @media screen and(min-width:768px) and (max-width:1279px){
        width: 174px;
        
    }

    @media screen  and(min-width:1280px){
        width: 198px;
    }
}


.contacts__btn--inverse{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 44px;
    padding: 14px;
    

    background-color:#D41342;
    color: #FFFFFF;
    border-radius: 22px;
    border: transparent;

    @media screen and(max-width:767px){
        width: 161px;
    }

    @media screen and(min-width:768px) and (max-width:1279px){
        width: 174px;
        
    }

    @media screen  and(min-width:1280px){
        width: 198px;
    }
}

