.btn{
    display: block;
    display: flex;
    align-items:center;
    justify-content: center;
    height: 44px;
    padding: 12px ;

    background-color: #FFFFFF;
    border-radius: 22px;
    border: transparent;

    @media screen and(max-width:767px){
        width: 161px;
        display: none;
    }

    @media screen and(min-width:768px) and (max-width:1279px){
        width: 186px;
        
    }

    @media screen  and(min-width:1280px){
        width: 159px;
    }
}

.btn::after{
    content: "";
    width: 8px;
    height: 10px;
    background-image: url(../../icons/btnarrow3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 15px;                   

}
.btn__text{
    display: block;
    font-family:DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: #D41443;
}

.btn__text-inverse{
    display: block;
    font-family:DM Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: #FFFFFF;
}


.btn__icon{
    display: block;
    color:#D41443;
    margin-left: 15px;
}

.btn__icon--inverse{
    display: block;
    fill:#FFFFFF;
    margin-left: 15px;
  
}

.btn--mobile{
    background: #FFFFFF;
    border-radius: 22px;
    border:transparent;
   
    height: 44px;

    padding: 12px 40px;
    margin-bottom: 18px;

    @media screen and (max-width:767px){
        width: 209px;
        
    }

    @media screen and (min-width:768px) and (max-width:1279px){
        width: 186px;
        
    }
}
.btn--mobile::after{
    content: "";
    width: 8px;
    height: 10px;
    background-image: url(../../icons/btnarrow3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 15px;
}

