.footer{
    background-color:#FFF5F6;
    padding-top: 48px;
}

.footer__name{
    @media screen and(max-width:767px) {   display: block;
        width: 234px;
        height: 134px;
        margin-bottom: 40px;
    }
    @media screen and (min-width:768px) and (max-width:1279px) {
        width: 340px;
        
      }
    
      @media screen and(min-width:1280px) {
        width: 474px;
        
        }
}

.footer__socials{
    display: block;
    text-align: right;
}
.social-net{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
}

.social-net__link{
    display: flex;
    width: 32px;
    height: 32px;
    align-items:center;
    justify-content: center;
    border-radius:50%;
    background-color: #FFA5BA;
    
    
}

.social-net__item:not(:last-child){
    margin-right: 28px;
}

.social-net__icon{
    fill:transparent;
}
.social-net__link:hover,
.social-net__link:focus{
    
    background-color: #D41443;
    }

.footer__tel--text{
    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    color: #000000;

}

.footer__tel--number{
    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    color: #D41443;;
}

.footer__rights{
    padding-top: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #E1E1E1;
    text-align: center;
}

.footer__rights__txt{
    display: block;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    text-align: center;
    color: #907E82;
    

    @media screen and(max-width:767px) {
        width: 150px;
        margin-left: auto;
        margin-right: auto;
    }
}