.section__gallery{
    
        background-image:linear-gradient(180deg, #FFF5F6 50%, #fff 50%);
    }

.section__gallery{
    width: 364px;
    height: 122px;
    background-repeat:no-repeat;
    background-size:contain;
    background-image: url(../../images/pic5_sm.jpg);
    @include mq(retina){
        background-image: url(../../images/pic5_sm@2x.jpg);
    }

    @include mq(tablet){
        width: 786px;
        height: 284px;
        background-image: url(../../images/pic5_md.jpg);
        @include mq(retina){
            background-image: url(../../images/pic5_md@2x.jpg);
        }
    }

    @include mq(desktop) {
        width: 1280px;
        height: 430px;
        background-image: url(../../images/pic5_lg.jpg);
        @include mq(retina){
            background-image: url(../../images/pic5_lg@2x.jpg);
        }
    }
}