.products{
    @media screen and (min-width:768px) {
        display: flex;
    }

}

.ptoducts__item{
    display: block;
    position: relative;

    height: 489px;
    border-radius: 24px;
}
.product__thumb{
    display: block;
    margin-top: auto;
}
.ptoducts__item:nth-child(1){
    background-color:  #FFB8CA;
}

.ptoducts__item:nth-child(1)::before{
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%, -50%);

    content: "";
    display: block;
    width: 280px;
    height: 280px;
    background-image:url(../../images/pic1_sm.png);
}


.ptoducts__item:nth-child(2){
    background-color: #F0D1A5;
}

.ptoducts__item:nth-child(2)::before{
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%, -50%);

    content: "";
    display: block;
    width: 280px;
    height: 280px;
    background-image:url(../../images/pic2_sm.png);
}



.ptoducts__item:nth-child(3){
    background-color:#C2E297;
}

.ptoducts__item:nth-child(3)::before{
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%, -50%);

    content: "";
    display: block;
    width: 280px;
    height: 280px;
    background-image:url(../../images/pic3_sm.png);
}


.products__name{
    display: inline-block;
    font-family:Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-top: 160px;
    margin-bottom: 32px;
    margin-right: auto;
    margin-left: auto;
}

.products__name::after{
    content:"";
    display: block;
    background-image:url(../../icons/dots_sm.png);
    width: 26px;
    height: 6px;

    margin:32px auto;


}


.products__desc{
    margin-left: 40px;
    margin-right: 40px;

    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;

}
.products__btn{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image:url(../../icons/arrow-right.svg);
    background-position: center;
    border: transparent;

    margin-top: 32px;
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
}