
.review{
    position: relative;
}

.container__reviews{
    @include mq(tablet){
        padding: 0 74px;
        
    }
    @include mq(desktop){
        padding: 0 123px;
        }

    }

.review__photo{
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 44px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 32px;

    @include mq(tablet){
        margin-bottom: 20px;
        
    }
    @include mq(desktop){
        margin-bottom: 16px;
        
    }
}

.review__text__wrapper{
    display: inline-block;
    padding: 43px 58px 26px 55px;
    background-color:
    rgba(250, 250, 250, 1);
   

    @include mq(tablet){
        width: 620px;
        padding: 37px 55px 44px 51px;
        
    }
    @include mq(desktop){
        width: 1034px;
        padding: 47px 139px 31px 142px;
    }

}


.review__text{
    position: relative;
    display: inline-block;
    font-family: DM Sans;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.04em;
    color: #000000;
    
    background-image:repeating-linear-gradient(0deg,rgba(250, 250, 250, 1),rgba(225, 225, 225, 1) 1px,transparent 0,transparent 31px);


    @include mq(tablet){
        font-size: 14px;
        
    }
    @include mq(desktop){
        font-size: 16px;
       
    }
}

.review__text::before{
    position: absolute;
    top: -15px;
    left: -36px;
    content: "";
    background-image: url(../../icons/paws.png);
    display: block;
    width:54px;
    height:40px;
    background-repeat: no-repeat;
    background-size:contain ;
}



.review__name{
    font-family: DM Sans;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: #000000;

    @include mq(tablet){
        font-size: 16px;
        
    }
    @include mq(desktop){
        font-size: 20px;
        // margin-bottom: 32px;
    }
}

.review__name::before{
    content: "";
    background-image: url(../../icons/redDots.png);
    display: block;
    width:32px;
    height:4px;
    background-repeat: no-repeat;
    background-size:contain ;
    margin: 16px auto;
    
    @include mq(tablet){
        margin: 36px auto 16px auto;}
        
    }
    @include mq(desktop){
        margin: 16px auto;
}
