.slick-slider{
    outline: 1px solid tomato;
    position: relative;
}


.slick-slider .slick-arrow{
    position: absolute;
    z-index: 10;
    top:45%;


}
.slick-prev{
    left: -45px;
    background-image: 
   
   
}

.slick-next{
    right: -45px;
    background-image:url(../../icons/arrow-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    
   
}