.body{
    font-family:var(--main-font-family);
    font-size: 14px;
    // line-height: 1.18;
    // background-color: var(--primary-background-color);
    // color: var(--primary-text-color);
    // overflow-y: scroll;

    }

    h1,h2,h3,h4,h5,h6,p {
        margin: 0px;
        margin: 0px;
    }

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

.list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.link{
    text-decoration: none;
    font: var(--main-font-family);
}

    img{
        display: block;
        max-width: 100%;
        height: auto;
    }

.section{
    @media screen and(max-width:1279px) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @media screen and (min-width:1280px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    }

.section__title{
    display: block;
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: center;
    text-transform: uppercase;
    color: #FFA5BA;
    
}

.section__title--footer{
    display: block;
    font-family: Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    text-align: left;
    text-transform: uppercase;
    color: #FFA5BA;
}

.section__name{
    font-family:Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;

}

.section__name--footer{
    font-family:Titan One;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1.15;
    text-align: left;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #D41443;
}